/* footer */
footer {
    background: #ffffff;

    height: fit-content;
    min-height: 150px;

    margin-top: 2em;

    box-shadow: 0 -2px 10px #adadad;

    /* flexbox to space sections evenly */
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* class for sections within footer */
.footer-section {
    max-width: 20%;
    min-width: 300px;
}
.footer-section > h2 {
    position: relative;

    text-align: center;

    margin-bottom: 0.1em;

    margin-top: 0.5em;
}

/* social links */
#footer-social-links > a > img {
    position: relative;

    top: 50%;

    transform: translate(0, -50%);
}
#footer-social-links {
    height: 30%;

    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* individual sizing for each logo */

#footer-discord-link > img {
    height: 1.5em;
}
#footer-matrix-link > img {
    height: 2em;
}
#footer-reddit-link > img {
    height: 2em;
}
#footer-twitter-link > img {
    height: 2em;
}


/* link container in `other` section */
#footer-other-links {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;

    display: flex;
    flex-direction: column;
}

/* footer links */
#footer-other-links > a {
    color: #000000;

    text-decoration: none;
}
#footer-other-links > a:hover {
    text-decoration: underline;
}