@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#menu {
    background-color: white;
    align-items: center;
    display: none;
    height: 100vh;
    width: 100vw;
  }
  
  #menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
  }
  
  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
  
  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
  }
  
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
  }
  
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
  }
  
  #menu-background-pattern {
    background-image: radial-gradient(
    rgba(141, 123, 228, 0.4) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
  }
  
  #menu-background-image {
    background-image: url("https://images.unsplash.com/photo-1492496913980-501348b61469?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 0;
  }
  
  #menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }
  
  #menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
  }
  
  #menu-items:hover > .menu-item {
    opacity: 0.3;
  }
  
  #menu-items:hover > .menu-item:hover {
    opacity: 1; 
  }
  
  .menu-item {
    color: black;
    cursor: pointer;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: clamp(3rem, 8vw, 8rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
  }
  