/* section 1 */
#section1 {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;

    margin-left: 0.5em;
}
#section1 > h3 {
    font-weight: lighter;
}
#section1-buttons-container {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 50%;

    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#section1-download-button {
    color: #ffffff;
    background: #9235ff;

    text-decoration: none;

    padding: 1em;

    border-radius: 5px;

    animation: section1-download-button-hover-off 0.2s;
}
#section1-download-button:hover {
    animation: section1-download-button-hover-on 0.2s;

    background: #8d7be4;

    text-decoration: underline;
}

#section1-wiki-button {
    color: #000000;

    text-decoration: none;

    padding: 1em;

    border-radius: 5px;
}
#section1-wiki-button:hover {
    text-decoration: underline;
}