/* section 3 and 4 (same css structure) */

.section-3-4 {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 100%;

    margin-bottom: 3em;

    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.section-3-4 > img {
    border-radius: 5px;

    box-shadow: 0 2px 10px #747474;

    width: 500px;
}

.section-3-4-half {
    margin-left: 1em;

    width: 30%;

    max-width: 500px;
}
.section-3-4-half > h2 {
    font-weight: 400;
    font-size: 1.2em;
}
.section-3-4-half > h1 {
    margin-bottom: 0.1em;
}
.section-3-4-half > .highlighted-button {
    position: relative;

    top: 2em;
}