@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-weight: 400;
  src: url("UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-weight: 700;
  src: url("UbuntuMono-Bold.ttf");
}

p, h1, h2, h3, h4, hr, td, tr, ul, ol, li, a, footer, article, main {
  font-family: "Ubuntu", sans-serif !important;
}

code, kbd, samp, pre {
  font-family: "UbuntuMono", monospace !important;
  font-size: 102% !important;
}

body {
  background-color: #19142d;
}

.unicorn {
  background: #fefefe;
  background: linear-gradient(90deg, rgba(193,0,128,1) 0%, rgba(212,4,255,1) 33%, rgba(139,0,231,1) 67%, rgb(79, 55, 144) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}