@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
}

:root {
  --bg-color: #1a1a1a;
  --fg-color: #fefefe;
  --accent-1: #8d7be4;
  --accent-2: #8b00e7;
  --accent-3: #9235ff;
  --accent-4: #13093c;
  --accent-5: #2d2d2d;
  --urgent: linear-gradient(90deg, rgba(193,0,128,1) 0%, rgba(212,4,255,1) 33%, rgba(139,0,231,1) 67%, rgb(79, 55, 144) 100%);
}

body {
    background: url('../images/landing.svg') center center no-repeat;
    font-family: 'Ubuntu', sans-serif;
  color: var(--fg-color);
}

h1 {
    font-weight: lighter;
    margin-bottom: .5em;
}

a {
  color: var(--fg-color);
  text-decoration: none;
}

/* Header */
.header {
    width: 60vw;
    margin: auto;
    height: 100vh;
}

.header .child {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .child h1 {
    text-align: center;
}

img {
    padding: .6em;
    display: inline-block;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}


img:not(:disabled):hover {
  transform: scale(1.1);
}

img:not(:disabled):hover:active {
  transform: scale(1.1) translateY(.125rem);
}

img:focus {
  outline: 0 solid transparent;
}

img:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

img:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

img:focus:not(:focus-visible):before {
  border-width: 0;
}

img:not(:disabled):active {
  transform: translateY(.125rem);
}

.btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: .6em;
    border-radius: .75em;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}

.btn:hover {
  text-decoration: none;
  background-color: rgba(169, 152, 255, 0.65);
}

.btn:not(:disabled):hover {
  transform: scale(1.15);
}

.btn:not(:disabled):hover:active {
  transform: scale(1.15) translateY(.125rem);
}

.btn:focus {
  outline: 0 solid transparent;
}

.btn:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.btn:not(:disabled):active {
  transform: translateY(.125rem);
}