@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

#site {
    width: 100%;
    height: 100%;
}

/* Navigation bar */
.nav {
    width: 80%;
    height: auto;
    margin: auto;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: white;
    height: 60px;
    
}
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}

.nav li a span {
    font-weight: bolder;
}

.splash {
    width: 60%;
    text-align: center;
    margin: auto;
    height: auto;
}

.splash h1 {
    margin-top: 1em;
    font-weight: bold;
}

.splash h2 {
    font-weight: lighter;
    margin-bottom: .2em;
}

.splash p {
    text-align: left;
    margin-bottom: 1em;
}

.btn1 {
    background-color: #8D7BE4;
    color: white;
    font-weight: lighter;
    font-size: 2em !important;
    padding: 6px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 1em;
}

.btn2 {
    background-color: white;
    color: black;
    font-weight: lighter;
    font-size: 2em !important;
    padding: 6px;
    border-radius: 8px;
    text-decoration: none;
}

.foss {
    width: 60%;
    margin: auto;
    height: auto;
}

.foss h1 {
    margin-top: 1.5em;
    font-weight: bold;
    text-align: center;
}

.foss h2 {
    font-weight: lighter;
    margin-bottom: 1em;
    text-align: center;
}

.foss p {
    font-weight: lighter;
    text-align: left;
}

.foss .row {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.foss .column {
    flex: 33.33%;
    padding: 8px;
}

.distro {
    width: 60%;
    margin: auto;
    height: auto;
}

.distro .row2 {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.distro .column2 {
    flex: 50%;
    padding: 8px;
}

.distro img {
    margin-top: 1em;
    border-radius: 8px;
}

.distro h2 {
    margin-top: 1em;
    font-weight: lighter;
    color: #8D7BE4;
}

.distro h1 {
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em
}

.distro .btn1 {
    padding-left: .5em;
    padding-right: .5em;
}

.mob-show {
    display: none;
}

#footer {
    width: 60%;
    border-top: solid;
    border-top-width: 2px;
    border-top-color: #333;
    margin: auto;
    margin-bottom: 1em;
}

.footer-cont {
    width: 100%;
    height: auto;
}

.footer-left {
    width: 40%;
    height: auto;
    margin-right: 4%;
}

.footer-mid {
    width: 30%;
    height:auto;
}

.footer-right {
    width: 30%;
    height: auto;
}

.footer-flex {
    display: flex;
}

#footer h1 {
    font-weight: lighter;
    margin-top: .2em;
}

#footer a {
    color: black;
    text-decoration: none;
}

/* Brand page */
.brand {
    margin: auto;
    width: 60vw;
}

.brand h2 {
    font-weight: lighter;
}

.brand a {
    color: black;
}

.brand .grid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1em;
    margin-bottom: 1em;
}

.gitem > .gitem {
    padding: 10px;
}

.purple1 {
    background-color: #8D7BE4;
    color: white;
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}

.purple2 {
    background-color: #8b00e7;
    color: white;
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}

.purple3 {
    background-color: #9235ff;
    color: white;
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}

.midnight {
    background-color: #13093c;
    color: white;
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}

.gtkgrey {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}

.fontwhite {
    background-color: #fefefe;
    color: black;
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}

* {
    box-sizing: border-box;
  }
  
  .logo .column {
    float: left;
    width: 50%;
    padding: 1em;
  }
  
  /* Clearfix (clear floats) */
  .logo .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo .right {
    margin-top: 10%;
  }

  .wallpaper .column {
    float: left;
    width: 33.3%;
    padding: .5em;
  }
  
  /* Clearfix (clear floats) */
  .wallpaper .row::after {
    content: "";
    clear: both;
    display: table;
  }


@media only screen and (max-width: 1026px) {

    .nav {
        width: 95%;
    }

    .splash {
        width: 95%;
    }

    .splash h2 {
        margin-top: .5em;
    }

    .foss {
        width: 95%;
    }

    .distro {
        width: 95%;
    }

    .distro img {
        display: none;
    }

    .distro .mob-hide {
        display: none;
    }

    .mob-show {
        display: block;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 80%;
    }

    .mob-show img {
        border-radius: 8px;
    }

    .brand {
        margin: auto;
        width: 95%;
    }

    .logo .column {
        float: left;
        width: 95%;
        padding: 1em;
      }

      .wallpaper .column {
        float: left;
        width: 95%;
        padding: 1em;
      }

}