@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

#site {
    width: 100%;
    height: 100%;
}

/* Navigation bar */
.nav {
    width: 80%;
    height: auto;
    margin: auto;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: white;
    height: 60px;
    
}
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}

.nav li a span {
    font-weight: bolder;
}

.splash {
    width: 60%;
    text-align: center;
    margin: auto;
    height: auto;
}

.splash h1 {
    margin-top: 1em;
    font-weight: bold;
}

.splash h2 {
    font-weight: lighter;
    margin-bottom: 1em;
}

.btn1 {
    background-color: #8D7BE4;
    color: white;
    font-weight: lighter;
    font-size: 2em !important;
    padding: 6px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 1em;
}

.btn2 {
    background-color: white;
    color: black;
    font-weight: lighter;
    font-size: 2em !important;
    padding: 6px;
    border-radius: 8px;
    text-decoration: none;
}

.foss {
    width: 60%;
    margin: auto;
    height: auto;
}

.foss h1 {
    margin-top: 1.5em;
    font-weight: bold;
    text-align: center;
}

.foss h2 {
    font-weight: lighter;
    margin-bottom: 1em;
    text-align: center;
}

.foss p {
    font-weight: lighter;
    text-align: left;
}

.foss .row {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.foss .column {
    flex: 33.33%;
    padding: 8px;
}

.distro {
    width: 60%;
    margin: auto;
    height: auto;
}

.distro .row2 {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.distro .column2 {
    flex: 50%;
    padding: 8px;
}

.distro img {
    margin-top: 1em;
    border-radius: 8px;
}

.distro h2 {
    margin-top: 1em;
    font-weight: lighter;
    color: #8D7BE4;
}

.distro h1 {
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em
}

.distro .btn1 {
    padding-left: .5em;
    padding-right: .5em;
}

.mob-show {
    display: none;
}


@media only screen and (max-width: 1026px) {

    .nav {
        width: 95%;
    }

    .splash {
        width: 95%;
    }

    .splash h2 {
        margin-top: .5em;
    }

    .foss {
        width: 95%;
    }

    .distro {
        width: 95%;
    }

    .distro img {
        display: none;
    }

    .distro .mob-hide {
        display: none;
    }

    .mob-show {
        display: block;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 80%;
    }

    .mob-show img {
        border-radius: 8px;
    }

}