@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
}

:root {
  --bg-color: #1a1a1a;
  --fg-color: #fefefe;
  --accent-1: #8d7be4;
  --accent-2: #8b00e7;
  --accent-3: #9235ff;
  --accent-4: #13093c;
  --accent-5: #2d2d2d;
  --urgent: linear-gradient(90deg, rgba(193,0,128,1) 0%, rgba(212,4,255,1) 33%, rgba(139,0,231,1) 67%, rgb(79, 55, 144) 100%);
}

body {
  background-color: var(--bg-color);
  font-family: 'Ubuntu', sans-serif;
  color: var(--fg-color);
}

/* Urgent alert banner */
.urgent {
  background: var(--urgent);
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--fg-color);
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.urgent a {
  color: var(--fg-color);
}

/* Home Header */
.extended {
  background: url('../images/blog/images/blobs.png') center center no-repeat;
  background-size: cover;
  height: 50vh;
}

.extended .overlay, .o-extended .overlay {
  background:rgba(15, 0, 20, 0.4);
  margin: auto;
  text-align: center;
  height: 100%;
}

#ecosystem-main .overlay, #ecosystem-wizard .overlay, #ecosystem-system .overlay, #ecosystem-rpk .overlay, #ecosystem-rhinodrop .overlay {
  background:rgba(15, 0, 20, 0.4);
  margin: auto;
  text-align: center;
  height: auto;
}

.extended h1 {
  font-weight: normal;
  margin-top: 2.5em;
  text-shadow: 5px 5px 10px var(--bg-color);
}

.extended h2 {
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-shadow: 5px 5px 10px var(--bg-color);
}

.extended .btn {
  display: inline-block;
  position: relative;
  top: -20px;
  width: auto;
  padding: 8px;
  margin: 1.3em;
  font-size: 1.4em;
  border-radius: 0.5em;
  background-color: rgb(140, 122, 235);
  color: white;
  text-decoration: none;
  box-shadow: 2px 4px 10px var(--bg-color);
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.extended .btn:hover {
  background-color: rgba(169, 152, 255, 0.4);
}

.extended .btn:not(:disabled):hover {
  transform: scale(1.1);
}

.extended .btn:not(:disabled):hover:active {
  transform: scale(1.1) translateY(.125rem);
}

.extended .btn:focus {
  outline: 0 solid transparent;
}

.extended .btn:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.extended .btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.extended .btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.extended .btn:not(:disabled):active {
  transform: translateY(.125rem);
}

/* Other Header */
.o-extended {
  background: url('../images/blog/images/blobs.png') center center no-repeat;
  background-size: cover;
  height: 35vh;
  margin-bottom: 2em;
}

.o-extended h1 {
  font-weight: normal;
  margin-top: 2em;
  text-shadow: 5px 5px 10px var(--bg-color);
}

.o-extended h2 {
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-shadow: 5px 5px 10px var(--bg-color);
}

.o-extended .btn {
  display: inline-block;
  position: relative;
  top: -20px;
  width: auto;
  padding: 8px;
  margin: 1.3em;
  font-size: 1.4em;
  border-radius: 0.5em;
  background-color: rgb(140, 122, 235);
  color: white;
  text-decoration: none;
  box-shadow: 2px 4px 10px var(--bg-color);
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.o-extended .btn:hover {
  background-color: rgba(169, 152, 255, 0.4);
}

.o-extended .btn:not(:disabled):hover {
  transform: scale(1.1);
}

.o-extended .btn:not(:disabled):hover:active {
  transform: scale(1.1) translateY(.125rem);
}

.o-extended .btn:focus {
  outline: 0 solid transparent;
}

.o-extended .btn:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.o-extended .btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.o-extended .btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.o-extended .btn:not(:disabled):active {
  transform: translateY(.125rem);
}

/* Ecosystem banners */
#ecosystem-main {
  background: url('../images/ecosystem/banner.png') center center no-repeat;
  background-size: cover;
  height: auto;
  margin-bottom: 2em;
  display: block;
}

#ecosystem-wizard, #ecosystem-system, #ecosystem-rpk, #ecosystem-rhinodrop {
  background: url('../images/ecosystem/banner.png') center center no-repeat;
  background-size: cover;
  height: auto;
  margin-bottom: 2em;
  display: none;
}

.ecosystem-text p {
  text-align: left !important;
}


.ecosystem-text h1 {
  font-weight: normal;
  padding-top: 1em;
  margin-bottom: .5em;
  text-shadow: 5px 5px 10px var(--bg-color);
  text-align: center;
}

.ecosystem-text h2 {
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-shadow: 5px 5px 10px var(--bg-color);
  text-align: center;
}

.ecosystem-text {
  width: 40vw;
  margin: auto;
  animation: slide-out 0.5s ease-in-out;
}

#wizard.ecosystem-text, #system.ecosystem-text, #rpk.ecosystem-text #drop.ecosystem-text {
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    translation: transform;
  }
}

@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateX(-100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    translation: transform;
  }
}

.eco-row {
  margin-top: 1em;
  display: flex;
}

.back {
  text-align: left;
  text-decoration: underline;
}

.back:hover {
  cursor: pointer;
}

/* Create equal columns that sits next to each other */
.eco-column {
  flex: 25%; /* Maximum of 4 sbs colums, 100%, 50%, 33.33%, 25%*/
  padding: 5px;
}

.eco-clickable {
  text-decoration: underline;
}

.eco-clickable:hover {
  cursor: pointer;
}


/* Navbar */
.main-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  list-style-type: none;
}

.main-nav a {
  margin: 10px;
  border-radius: 5px;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: var(--fg-color);
}

.mobile-menu a {
  font-size: 2em;
  margin-right: 0.2em;
}

#dropdown {
  background-color: var(--accent-1);
  color: var(--fg-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 3;
  line-height: 1;
}

#dropdown .container {
  width: 99vw;
  margin: auto;
  text-align: center;
  font-size: 3.75em;
  padding: 8px;
}

#dropdown .container .exit {
  float: right;
  cursor: pointer;
  margin-right: 16px;
}

#dropdown .container .content {
  margin-top: 1em;
}

#dropdown .container .content p {
  margin-top: 6vh;
}

#dropdown .container .content a {
  color: var(--accent);
  text-decoration: none;
}

/* Main container */
.container {
  width: 60vw;
  margin: auto;
}

.container h1 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
}

.container h2 {
  font-weight: 500;
  margin-bottom: 1em;
}

.container h3 {
  font-weight: 500;
  margin-bottom: 1em;
}

.container p {
  margin-bottom: 1em;
}

.container img {
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.container a {
  color: var(--accent-1);
}

/* Home container */
.h-container {
  width: 70vw;
  margin: auto;
}

.h-container h1 {
  font-weight: normal;
  text-align: left;
  margin-bottom: 1em;
}

.h-container p {
  margin-bottom: 1em;
}

.h-container img {
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.h-container a {
  color: var(--accent-1);
}

/* Side-by-side */
.sbs-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  margin-right: 4em;
  flex: 40%;
}


code {
  background-color: var(--accent-5);
  padding: 2px;
  border-radius: 0.5em;
  border-style: solid;
  border-color: var(--accent-1);
  border-width: 1px;
}

hr {
  color: #fefefe;
}

footer {
  margin-top: 1em;
  text-align: center;
}

footer a {
  margin-bottom: 1em;
  color: var(--accent-1);
  text-decoration: none;
}

/* Download page */

.download-container {
  display: flex;
}

.box {
  background-color: var(--accent-5);
  border-radius: 1em;
  flex: 1;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent-1);
}

.box h1 {
  margin-top: 0.5em;
  font-weight: lighter;
}

.box p {
  margin-left: 0.5em;
}

.box img {
  text-align: center;
  margin: 0.5em;
}

.box a {
  color: var(--accent-1);
}

.color-a {
  color: var(--accent-1);
}

/* Mobile optimisations */

.mob-hide {
  /* Hide on mobile */
  display: block;
}

.mob-show {
  /* Show on mobile */
  display: none;
}

@media only screen and (max-width: 1026px) {

  .ecosystem-text {
    width: 95%;
    margin: auto;
  }

  /* Ecosystem banners */
#ecosystem-main {
  background: url('../images/ecosystem/banner.png') center center no-repeat;
  background-size: cover;
  height: auto;
  margin-bottom: 2em;
  display: block;
}

#ecosystem-wizard, #ecosystem-system, #ecosystem-rpk {
  background: url('../images/ecosystem/banner.png') center center no-repeat;
  background-size: cover;
  height: auto;
  margin-bottom: 2em;
  display: none;
}

  .mob-show {
    display: block !important;
  }

  .mob-hide {
    display: none !important;
  }

  .main-nav a {
    display: none;
  }

  .container {
    width: 95vw;
    margin: auto;
  }


  .h-container {
    width: 95vw;
    margin: auto;
  }

  .h-container h1 {
    text-align: center;
  }
   
  /* Download page */

  .download-container {
    display: block;
  }

  .box {
    background-color: var(--accent-5);
    border-radius: 1em;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
  }

  .box h1 {
    margin-top: 0.5em;
    font-weight: lighter;
  }

  .box p {
    margin-left: 0.5em;
  }

  .box img {
    text-align: center;
    margin: 0.5em;
  }

  /* Side-by-side */
.sbs-cont {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

}

.brand a {
  color: var(--accent-1);
}

.brand .grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em;
  margin-bottom: 1em;
}

.gitem > .gitem {
  padding: 10px;
}

.purple1 {
  background-color: #8d7be4;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2.5px;
  border-color: #2d2d2d44;
}

.purple2 {
  background-color: #8b00e7;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2.5px;
  border-color: #2d2d2d44;
}

.purple3 {
  background-color: #9235ff;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2.5px;
  border-color: #2d2d2d44;
}

.midnight {
  background-color: #13093c;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2.5px;
  border-color: #fefefe11;
}

.gtkgrey {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2.5px;
  border-color: #fefefe11;
}

.fontwhite {
  background-color: #fefefe;
  color: black;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 2.5px;
  border-color: #2d2d2d44;
}

* {
  box-sizing: border-box;
}

.logo .column {
  float: left;
  width: 50%;
  padding: 1em;
}

/* Clearfix (clear floats) */
.logo .row::after {
  content: '';
  clear: both;
  display: table;
}

.logo .right {
  margin-top: 10%;
}

.wallpaper .column {
  float: left;
  width: 33.3%;
  padding: 0.5em;
}

/* Clearfix (clear floats) */
.wallpaper .row::after {
  content: '';
  clear: both;
  display: table;
}

select {
  /* styling */
  color: white;
  background-color: var(--bg-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--accent-1);
  border-radius: 12px;
  display: inline-block;
  font: inherit;
  font-size: 1.5em;
  font-weight: 250;
  background-color: #1c1c1c;
  text-align: center;
  line-height: 1.5em;
  padding: 0.5em 2em 0.5em 1em;
  /* added svg arrow */
  background-size: 20px;
  background-position: calc(100% - 20px) 22px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C114.618,0,0,114.618,0,256s114.618,256,256,256s256-114.618,256-256S397.382,0,256,0z M256,469.333 c-117.818,0-213.333-95.515-213.333-213.333S138.182,42.667,256,42.667S469.333,138.182,469.333,256S373.818,469.333,256,469.333 z'%3E%3C/path%3E%3Cpath d='M347.582,198.248L256,289.83l-91.582-91.582c-8.331-8.331-21.839-8.331-30.17,0c-8.331,8.331-8.331,21.839,0,30.17 l106.667,106.667c8.331,8.331,21.839,8.331,30.17,0l106.667-106.667c8.331-8.331,8.331-21.839,0-30.17 C369.42,189.917,355.913,189.917,347.582,198.248z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* fixed select for mobile view */
@media only screen and (max-width: 450px) {
  select {
    background-position: calc(100% - 5px) 10px;
    font-size: 1em;
  }
    .overlay {
        font-size: 80%;
    }
    .overlay h1 {
        margin-top: 1.6em;
    }
    .overlay .btn {
        top: -2.2em;
    }
}

.collapsible {
  background-color: #1a1a1a;
  color: var(--fg-color);
  cursor: pointer;
  padding: 6px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font: inherit;
  border-radius: 22px;
}

.active,
.collapsible:hover {
  background-color: #444;
}

.collcont {
  color: var(--fg-color);
  border-radius: 16px;
  display: none;
  overflow: hidden;
  overflow-wrap: break-word;
  background-color: var(--bg-color);
  text-align: left;
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  font: inherit;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font: inherit;
  width: 90%;
  top: -3%;
  left: 35%;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  font: inherit;
  position: absolute;
  margin-left: 80%;
  font-size: 13px;
}

.container .btn {
  display: inline-block;
  width: auto;
  padding: 8px;
  font-size: 1.2em;
  border-radius: 0.5em;
  background-color: rgb(140, 122, 235);
  color: white;
  text-decoration: none;
  box-shadow: 2px 4px 10px var(--bg-color);
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-top: 1em;
}

.container .btn:hover {
  background-color: rgba(169, 152, 255, 0.4);
}

.container .btn:not(:disabled):hover {
  transform: scale(1.1);
}

.container .btn:not(:disabled):hover:active {
  transform: scale(1.1) translateY(.125rem);
}

.container .btn:focus {
  outline: 0 solid transparent;
}

.container .btn:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.container .btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.container .btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.container .btn:not(:disabled):active {
  transform: translateY(.125rem);
}

.news {
  display: inline-flex;
}

.news .box {
  background-color: var(--accent-5);
  border-radius: 1em;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent-1);
}

.news h1 {
  margin-top: 0.5em;
  margin-left: 1em;
  text-align: left;
  width: 65%;
}

.news p {
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 0.5em;
  width: 65%;
}

.news img {
  text-align: center;
  margin: 0.5em;
}

.news a {
  color: var(--accent-1);
}

.color-a {
  color: var(--accent-1);
}

.news .stamp {
  display: inline-block;
  width: auto;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
  margin-right: 2em;
  font-weight: 500;
}

#info .box {
    border-width: 0;
    background: none;
    margin-left: -0.2em;
    margin-right: 0.5em;
}

#info .box h1 {
    top: 2vw;
}

#info .box p {
    display: inline-block;
    margin-left: 0;
}

#info h1 {
    font-weight: 400;
    text-align: left;
}

#info code {
    font-size: 90%;
}


@media only screen and (min-width: 956px) {
#frontpage.box {
    display: inline-flex;
    margin-bottom: 0;
}

#frontpage.box p {
    width: 50%;
    padding: 1em
}
    h1#frontpage {
    text-align:center;
    margin-top:1em;
    margin-bottom:0;
    }
}
  
@media only screen and (max-width: 956px) {
    h1#frontpage {
    margin-top:1em;
    margin-bottom:0;
    text-align: center;
    }
}

@media only screen and (min-width: 956px) {
  #info .text p {
    display: inline-block;
    position: relative;
    width: 20vw;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.6vw;
    vertical-align: middle;
  }
  #info img {
    display: inline-block;
    width: 65vw;
    position: relative;
    margin-left: 3.5vw;
    margin-right: 0;
    vertical-align: middle;
    bottom: 3vw;
  }
    #info p {
    display: inline-block;
    margin-left: 0;
    font-size: 120%;
    text-align: left;
    }
    #info .box h1 {
    text-align: left;
    position: relative;
    font-size: 2.5vw;
    vertical-align: middle;
    width: 25vw;
    }
    #info .btn { 
    font-size: 100%}
}

@media only screen and (min-width: 1256px) {
    #info .box h1 {
    text-align: left;
    position: relative;
    font-size: 2.5vw;
    vertical-align: middle;
    width: 25vw;
    }
}

@media only screen and (min-width: 1556px) {
    #info .box h1 {
    text-align: left;
    position: relative;
    font-size: 2.5vw;
    vertical-align: middle;
    width: 25vw;
    }
}

@media only screen and (min-width: 1728px) {
    #info .box h1 {
    text-align: left;
    position: relative;
    font-size: 2.5vw;
    vertical-align: middle;
    width: 25vw;
    }
}

@media only screen and (min-width: 1856px) {
    #info .box h1 {
    text-align: left;
    position: relative;
    font-size: 2.5vw;
    vertical-align: middle;
    width: 25vw;
    }
}

@media only screen and (max-width: 956px) {
  #info p {
    display: inline-block;
    position: relative;
  }
    #frontpage.btn {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0.2em;
        text-align-last: center;
    }
#info img {
    display: inline-block;
    width: 100%;
    position: relative;
  }
        #info .box h1 {
    text-align: center;
    }
    #info .text {
        margin-left: 0.5em;
    }
    .overlay .btn {
        margin-top: 0;
        top: -1.5em;
    }
    .overlay h1 {
        margin-top: 2.2em;
    }
    .overlay h2 {
        margin-left: 5px;
        margin-right: 5px;
    }
    #info .box img {
    margin-left: 0.4em;
}
}

@media only screen and (max-width: 956px) and (max-height: 450px) {
  #info p {
    display: inline-block;
    position: relative;
    text-align: center;
  }
  #frontpage.btn {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0.2em;
        text-align-last: center;
    }
#info img {
    display: inline-block;
    width: 100%;
    position: relative;
  }
    #info .text {
        margin-left: 0.5em;
    }
    .overlay {
        font-size: 70%;
    }
    .overlay .btn {
        margin-top: 0;
        top: -1.5em;
    }
    .overlay h1 {
        margin-top: 2.2em;
    }
    .overlay h2 {
        margin-left: 5px;
        margin-right: 5px;
    }
    #info .box img {
    margin-left: 0.4em;
}
}

@media only screen and (max-width: 700px) and (max-height: 450px) {
  #info p {
    display: inline-block;
    position: relative;
    text-align: center;
  }
  #frontpage.btn {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0.2em;
        text-align-last: center;
    }
#info img {
    display: inline-block;
    width: 100%;
    position: relative;
  }
    #info .text {
        margin-left: 0.5em;
    }
    .overlay {
        font-size: 60%;
    }
    .overlay .btn {
        margin-top: 0;
        top: -1.5em;
    }
    .overlay h1 {
        margin-top: 2.2em;
    }
    .overlay h2 {
        margin-left: 5px;
        margin-right: 5px;
    }
    #info .box img {
    margin-left: 0.4em;
}
}
@media only screen and (max-width: 956px) {
    .overlay {
        font-size: 80%;
    }
}

@media only screen and (max-width: 856px) {
    .overlay {
        font-size: 70%
    }
}

@media only screen and (max-width: 756px) {
    .overlay {
        font-size: 70%
    }
}

button {
  /* styling */
  color: white;
  background-color: var(--bg-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent-1);
  border-radius: 12px;
  display: inline-block;
  font: inherit;
  background-color: #1c1c1c;
  text-align: center;
  font-size: 95%;
  padding: 0.2em 0.4em 0.2em 0.4em;
  /* reset */
  margin: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 10%;
}

.active,
button:hover {
  background-color: #3a3a3a;
}

.keyboard-shortcut {
  background-color: rgba(100,100,100,0.4);
  border-radius: 0.25rem;
  box-shadow: #262626 0px -4px 0px inset, rgba(0, 0, 0, 0.4) 0px 1px 1px;
  padding: 0.5em 0.5em;
  width: 88px;
  position: relative;
  display: inline-block;
  margin: 0.5em;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
