@import 'tailwindcss';

@theme {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-btn: 1.15rem;
  --text-btn--line-height: 1.6rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-burger: 3.2rem;
  --text-burger--line-height: 2.5rem;

  --color-rhino-purple: #8d7be4;
  --color-neon-purple: #8b00e7;
  --color-highlighter-purple: #9235ff;
  --color-rhino-dark: #13093c;
  --color-adwaita-dark: #2d2d2d;
  --color-off-white: #fefefe;
  --color-overlay: rgba(15, 0, 20, 0.4);
  --color-site-400: #19142d;
  --color-site-300: #231e37;
  --color-site-200: #373250;
  --color-site-100: #554b69;
  --color-unicorn-magenta: #c10080;
  --color-unicorn-pink: #d404ff;
  --color-unicorn-purple: #8b00e7;
  --color-unicorn-dark: #26184c;
  --color-brand-dark: #2d2d2d44;
  --color-brand-light: #fefefe11;
  --color-zrhino-purple: #8d7be4;

  --shadow-bxs: 0 0 10px #8d7be4;

  --background-image-hero-pattern: url('/img/blobs.png');
  --background-image-orb-pattern: url('/img/orb.png');

  --drop-shadow-header-drop: 2px 4px 10px rgba(40, 30, 45, 1);

  --font-serif: Ubuntu, sans-serif;
  --font-mono: UbuntuMono, mono;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-weight: 400;
  src: url("UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-weight: 700;
  src: url("UbuntuMono-Bold.ttf");
}

p, h1, h2, h3, h4, hr, td, tr, ul, ol, li, a, footer, article, main {
  font-family: "Ubuntu", sans-serif !important;
}

code, kbd, samp, pre {
  font-family: "UbuntuMono", monospace !important;
  font-size: 102% !important;
}

body {
  background-color: #19142d;
}

.unicorn {
  background: #fefefe;
  background: linear-gradient(90deg, rgba(193,0,128,1) 0%, rgba(212,4,255,1) 33%, rgba(139,0,231,1) 67%, rgb(79, 55, 144) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.line {
  font-size: 95% !important;
}

.ecosystem-text {
    animation: slide-out 0.5s ease-in-out;
}

.a-ecosystem-text {
    animation: slide-in 0.5s ease-in-out;
}

.ecosystem-text-up {
    animation: slide-up 0.5s ease-in-out;
}

.ecosystem-text-down {
    animation: slide-down 0.5s ease-in-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    translation: transform;
  }
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-100%);
      translation: transform;
    }
    to {
      opacity: 1;
      transform: translateY(0%);
      translation: transform;
    }
  }

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    translation: transform;
  }
}

@keyframes slide-out {
    from {
      opacity: 0;
      transform: translateX(-100%);
      translation: transform;
    }
    to {
      opacity: 1;
      transform: translateX(0%);
      translation: transform;
    }
  }

  #dropdown {
    background-color: #13093c;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 3;
    line-height: 1;
    top: 1;
  }
  
  #dropdown .container {
    width: 99vw;
    margin: auto;
    text-align: center;
    font-size: 3.75em;
    padding: 8px;
  }
  
  #dropdown .container .exit {
    float: right;
    cursor: pointer;
    margin-right: 16px;
  }
  
  #dropdown .container .content {
    margin-top: 1em;
  }
  
  #dropdown .container .content p {
    margin-top: 6vh;
  }
  

 .tooltip {
     position: relative;
     display: inline-block;
     font: inherit;
   }

   .tooltip .tooltiptext {
     visibility: hidden;
     background-color: rgb(85 75 105 / var(--tw-bg-opacity));
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 4px;
     position: absolute;
     z-index: 1;
     opacity: 0;
     transition: opacity 0.3s;
     font: inherit;
     width: 90%;
     left: 35%;
     margin-top: 6px;
   }

   .tooltip .tooltiptext::after {
     content: ' ';
     position: absolute;
     top: 50%;
     right: 100%; /* To the left of the tooltip */
     margin-top: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: transparent rgb(85 75 105 / var(--tw-bg-opacity)) transparent transparent;
   }

   .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
     font: inherit;
     position: absolute;
     margin-left: 80%;
     font-size: 13px;
   }

  button {
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }

  button:focus {
    outline: 0 solid transparent;
  }

  button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }

  button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }

  button:focus:not(:focus-visible):before {
    border-width: 0;
  }

  button:not(:disabled):active {
    transform: translateY(.125rem);
  }

  select {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C114.618,0,0,114.618,0,256s114.618,256,256,256s256-114.618,256-256S397.382,0,256,0z M256,469.333 c-117.818,0-213.333-95.515-213.333-213.333S138.182,42.667,256,42.667S469.333,138.182,469.333,256S373.818,469.333,256,469.333 z'%3E%3C/path%3E%3Cpath d='M347.582,198.248L256,289.83l-91.582-91.582c-8.331-8.331-21.839-8.331-30.17,0c-8.331,8.331-8.331,21.839,0,30.17 l106.667,106.667c8.331,8.331,21.839,8.331,30.17,0l106.667-106.667c8.331-8.331,8.331-21.839,0-30.17 C369.42,189.917,355.913,189.917,347.582,198.248z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

@media (max-width: 294px) {
  .select-fix {
    background-size: 14px;
    background-position: calc(100% - 10px);
    @apply text-sm!;
  }
}

@media (min-width: 295px) and (max-width: 379px) {
  .select-fix {
    background-size: 18px;
    background-position: calc(100% - 12px);
    @apply text-lg!;
  }
}

@media (min-width: 380px) {
  .select-fix {
    background-size: 24px;
    background-position: calc(100% - 18px);
    @apply text-2xl!;
  }
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-r-4 {
  border-right-width: 4px;
}

.border-b-flat {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-t-flat {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-r-flat {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.border-l-flat {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.border-bl-flat {
  border-bottom-left-radius: 0;
}

.border-tl-flat {
  border-top-left-radius: 0;
}

.border-br-flat {
  border-bottom-right-radius: 0;
}

.border-bl-flat {
  border-bottom-left-radius: 0;
}

@media (min-width: 710px) {
  .flex-grid {
    display: flex;
  }
}

.col {
  flex: 1;
}

@media (min-width: 392px) and (max-width: 639px) {
    .footer-fix {
      @apply pl-4;
    }
  }

@media (max-width: 391px) {
    .footer-fix-br {
      @apply block;
    }
  }  