@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

.ecosystem-text {
    animation: slide-out 0.5s ease-in-out;
}

.a-ecosystem-text {
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    translation: transform;
  }
}

@keyframes slide-out {
    from {
      opacity: 0;
      transform: translateX(-100%);
      translation: transform;
    }
    to {
      opacity: 1;
      transform: translateX(0%);
      translation: transform;
    }
  }

  #dropdown {
    background-color: #13093c;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 3;
    line-height: 1;
    top: 1;
  }
  
  #dropdown .container {
    width: 99vw;
    margin: auto;
    text-align: center;
    font-size: 3.75em;
    padding: 8px;
  }
  
  #dropdown .container .exit {
    float: right;
    cursor: pointer;
    margin-right: 16px;
  }
  
  #dropdown .container .content {
    margin-top: 1em;
  }
  
  #dropdown .container .content p {
    margin-top: 6vh;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font: inherit;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font: inherit;
    width: 90%;
    top: -3%;
    left: 35%;
  }
  
  .tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font: inherit;
    position: absolute;
    margin-left: 80%;
    font-size: 13px;
  }

  button {
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }
  
  button:not(:disabled):hover {
    transform: scale(1.1);
  }
  
  button:not(:disabled):hover:active {
    transform: scale(1.1) translateY(.125rem);
  }
  
  button:focus {
    outline: 0 solid transparent;
  }
  
  button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  button:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  button:not(:disabled):active {
    transform: translateY(.125rem);
  }