@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

.ecosystem-text {
    animation: slide-out 0.5s ease-in-out;
}

.a-ecosystem-text {
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    translation: transform;
  }
}

@keyframes slide-out {
    from {
      opacity: 0;
      transform: translateX(-100%);
      translation: transform;
    }
    to {
      opacity: 1;
      transform: translateX(0%);
      translation: transform;
    }
  }

  #dropdown {
    background-color: #13093c;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 3;
    line-height: 1;
    top: 1;
  }
  
  #dropdown .container {
    width: 99vw;
    margin: auto;
    text-align: center;
    font-size: 3.75em;
    padding: 8px;
  }
  
  #dropdown .container .exit {
    float: right;
    cursor: pointer;
    margin-right: 16px;
  }
  
  #dropdown .container .content {
    margin-top: 1em;
  }
  
  #dropdown .container .content p {
    margin-top: 6vh;
  }
  